{
    "device_name": "nuc",
    "storage_path" : "/home/{{ USERNAME }}/.config/resilio-sync/storage",
    "pid_file" : "/home/{{ USERNAME }}/.config/resilio-sync/sync.pid",
    "display_new_version": false,
    "use_upnp" : true,
    "download_limit" : 0,
    "upload_limit" : 0,

    "webui" :
    {
        "listen" : "0.0.0.0:8888",
        "login" : "{{ USERNAME }}",
        "password" : "",      
        "allow_empty_password" : true
    }
}
